.purchased

  = render "devise/header"

  .purchased__content
    .purchased__content__announce 
      %div.announce
        %i.far.fa-clock
        %span 発送をお待ちください  
    .purchased__content__messages  
      %h1 購入が完了しました
    
    .purchased__content__form
      .purchased__content__form--btn
        = link_to("トップページに戻る", "/products")
        
  = render "devise/footer"