@mixin input($width: 400px) {
  font-size: 16px;
  width: $width;
  padding: 10px 16px;
  margin: 8px 0 30px 0;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
}

@mixin text-constraint(){
  display: inline;
  color: white
}


.login {
  height: 100vh;
  background-color: #f5f5f5;
  &__logo{
    justify-content: center;
    text-align: center;
    padding: 0px;
  }
  .FURIMA-btn{
    width: 15%;
  }

  &-main{
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 50px 30px;  
      p {
        font-size: 28px;
        text-align: center;
        border-bottom: 1px solid;
        margin-bottom: 20px;
      }
      .field {
        &__text {
          font-size: 18px;
          margin-bottom: 8px;        
        }
        .red {
          background-color: red;
          @include text-constraint;
        } 
        label {
          background-color: blue;
          @include text-constraint;
        }   
      }
    
    .button_panel {
      background-color: white;
      font-size: 16px;
      line-height: 48px;
      width: 100%;
      margin-top: 36px;
      border: none;
      input {
        cursor:pointer;
      } 
      input:hover {
        background-color: #eeeeee;
      }
    } 
  }
}