.index {
  height: 100vh;
  width: 100vw;
  background-color: #F5F5F5;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  &__main-contents {
    width: 100%;
    height: 1285px;
    margin: 24px auto 0;
    padding: 0 150px 40px 150px;
    background-color: #F5F5F5;
    display: flex;
    &__btn {
      width: 1500px;
      height: 100%;
      margin-left: 40px;
      &--contener {
        width: 100%;
        height: 180px;
        background-color: #fff;
        padding: 64px;     
      }
        li {
          width: 320px;
          height: 50px;      
          background-color: #3CCACE;
          margin: 0 auto;  
          text-align: center;
          line-height: 50px;
          list-style: none;  
          cursor: pointer;           
        }
        a {
          text-decoration: none;
          color: #fff;
        }           
    }
  }  
}