@mixin block {
  width: 100%;
  height: 150px;
  color: #000000;
}
@mixin content ($width, $height) {
  width: $width;
  height: $height;
}
@mixin font($size: 14px) {
  font-size: $size;
  font-weight: bold;
}
.purchase {
  height: 130vh;
  width: 100vw;
  background-color: #F5F5F5;
  &__header {
    @include content(600px, 130px);
    padding: 0px 100px;
    margin: 0 auto;
    &__logo {
      margin: 0 auto;
      @include content(170px, 100px);
      padding-top: 30px;
    }
  }
  &__contents {
    height: calc(130vh - 100px);
    width: 600px;
    padding: 0px 100px;
    background-color: #ffffff; 
    margin: 0 auto;
    &__message {
      @include block();   
      h1 {
        @include font(22px);
        text-align: center;
        line-height: 150px;  
      }
    }
    &__items {
      @include block();
      &__detail {
        @include content(100%, 100%);
        display: flex;
        &--image {
          @include content(100px, 100%);  
        }
        &--description {
          @include content(290px, 100%);
          padding-left: 10px;
          font-size: 14px;
          &__name {
            @include content(100%, 100px);  
          }
          &__price {
            @include content(100%, 50px);
            span {
              @include font();
            }
          }
        }
      }
    }
    &__buy-price {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      h2 { 
        @include font(18px);
        line-height: 80px;
      }
      &__pay-box {
        @include content(200px, 80px);
        @include font(22px);
        line-height: 80px;
        text-align: right;
      }
    }
    &__credit {
      @include block();
      h3 {
        @include font(); 
      }
      &__card-box {
        @include content(300px, 120px);
        padding-top: 10px;
        p {
          font-size: 14px;
        }
      }
    }
    &__address {
      @include block();
      h4 {
        @include font(); 
      }
      &__add-box {
        @include content(350px, 120px);
        padding-top: 10px;
        p {
          font-size: 14px;
        }
      }
    }
    &__form {
      @include content(100%, 100px);
      .submit-btn {
        @include content(100%, 50px);
        @include font(); 
        background-color: #3CCACE;
        color: #ffffff; 
        text-align: center;
        line-height: 50px;
      }
    }
  }
}
.purchase-footer {
  @include content(600px, 300px);
  margin: 0 auto;
  &__logo {
    text-align: center;
    margin: 0 auto;
    @include content(100px, 90px);
    margin-top: 30px;
  }
  p {
    font-size: 12px;
    color: #000000;
    text-align: center;
  }
}
