
@mixin cotent_box {
  padding: 40px;
  width: 700px;
}
.header{
  height: 128px;
  width:100%;
  background-color: #F5F5F5;
  &__logo{
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }
  .FURIMA-btn{
    width: 15%;
  }
}
.main{
  height:100vh;
  width: 100vw;
  background-color: #F5F5F5;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  &__content{
    height: 100%;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__form{
      &__inside{
        .item-image{
          padding: 40px;
          width: 700px;
          height: 300px;
          border-bottom:  1px solid #F5F5F5;
          &__body{
            &__title{
              font-size: 14px;
              font-weight: 600;
              line-height: 1.4em;
            }
            &__iscription{
              margin-top: 16px;
              font-size: 14px;
              line-height: 1.4em;
            }
          }
        }
        .item-name{
          @include cotent_box();
          height: 416px;
          border-bottom:  1px solid #F5F5F5;

          &__body{
            &__title{
            }
            &__titlearea{
              margin-top: 16px;
              width: 620px;
              height: 48px;
            }
            &__discription{
              margin-top: 16px;

            }
            &__option{
              margin-top: 16px;
              text-align: right;
              color: #888;
              font-size: 12px;
              line-height: 1.4em;
            }

          }
        }
        .item-category{
          @include cotent_box();
          height: 444px;
          border-bottom:  1px solid #F5F5F5;

          &__body{
            &__brand{
              margin-top: 30px;
            }
            &__category{
              margin-top: 30px;
            }
            &__categoryname{
              margin-top: 16px;
            }
            &__brandname{
              margin-top: 16px;
            }
            &__condition{
              margin-top: 30px;
            }
            &__conditionform{
              margin-top: 16px;
            }

          }

        }
        .item-shipping{
          @include cotent_box();
          height: 444px;
          border-bottom:  1px solid #F5F5F5;
          &__body{
            &__title{
              margin-top: 30px;
            }
            &__area{
              margin-top: 16px;
            }
            &__days{
              margin-top: 16px;
            }
            &__titleform{
              margin-top: 16px;
            }
            &__areaform{
              margin-top: 16px;
            }
            &__daysform{
              margin-top: 16px;
            }
          }

        }

        .item-price{
          @include cotent_box();
          height: 270px;
          border-bottom:  1px solid #F5F5F5;
          &__body{
            &__title{

            }
            &__price{
              margin-top: 24px;
              text-align: center;
              display: flex;
              justify-content: space-between;
              &__form{

              }
            }
            &__tax{
              margin-top: 24px;

            }
            &__title{

            }


          }

        }
        
        .selling-rules{
          @include cotent_box();
          height: 150px;
          font-size: 12px;
        }
      }



    }
  }
}
.footer{
  height: 220px;
  width: 100%;
  background-color: #F5F5F5;

}

.heading{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  display: inline-block;
  position: relative;
  width: inherit;
  margin: auto 0;
}

.item-selling{
  width: 700px;
  height: 300px;
  padding: 40px;

  &__body{
    padding: 40px;

    width: 440px;
    margin: 0px auto 32px;
    &__btn-exhibition{
      background-color: #3CCACE;
      color: #fff;
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      border-radius: 10px;
      text-align: center;
      font-family:Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      font-weight: 600;

    }
    &__btn-ave{
      margin-top: 24px;
      background-color: #ccc;
      border-color: transparent;
      color: #222;
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      border-radius: 10px;
      text-align: center;
      font-family:Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      font-weight: 600;

    }
    &__btn-back{
      margin-top: 24px;
      font-size: 15px;
      min-height: 48px;
      padding: 0 24px;
      text-align: center;
      font-family:Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      color: #0095ee;
    }
  }
}

.upload__area{
  height: 150px;
  width: 620px;
  background-color: silver;
  display: flex;
  flex-wrap: wrap;
  margin: -8px -4px 0px;
  &__inside{
    height: 150px;
    width: 620px;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    transition: all 0.5s ease-out 0s;
  }
}
.drop{
  width: 100%;
  text-align: center;
}


.required_tag{
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-size: 12px;
  padding: 0 4px;
  margin-left: 8px;
  background-color: #3CCACE;
  color: white;
}

.discription{
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
  

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  height: 48px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0 56px 0 16px;
  width: 100%;
}

textarea, select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 13px 16px;
  resize: vertical;
  vertical-align: middle;
}

.titlename{
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 24px;
}

.form__small{
  width: 285px;
  height: 45px;
  margin-right: 0;
}

.form__price{
  width: 285px;
  height: 45px;
  padding: 0;
}

.price-tax{
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}

.ok-btn{
  line-height: 48px;

  
}

ul{
  display: flex;
  justify-content: space-around;
}
.footer__logo{
  height: 30px;
  width: 390px;
}

.camera-logo{
  fill: rgb(34, 34, 34);
  height: 24px;
  width: 24px;
}

.drop-text{
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
  width: 100%;
}

.font_test{
  color: #0095ee;
}