-# .footer
-#   .footer__policy
-#   .footer__logo
-#     %ul
-#       %li
-#         プライバシーポリシー
-#       %li
-#         メルカリ利用規約
-#       %li
-#         特定商取引に感んする表記

-#   .footer__copyright
-#     mercari